
config smartdns
	option enable           yes
	option enable_cn        no
	option enable_cdn_cn    no
	option port             7700
	option ipv6             no
	option cache            yes
	option response_mode    fastest-ip
	option speed_check_mode tcp:443,tcp:8443,tcp:80,tcp:8080,ping
	list   ignore_ip        116.211.136.0/22
	list   ignore_ip        113.197.104.0/23
	list   ignore_ip        203.208.32.0/19
	list   extra_rules      "/m-team.cc/ -c tcp:443"
	list   extra_rules      "/m-team.io/ -c tcp:443"
	list   extra_rules      "/github.com/ -c tcp:22,tcp:443"
	list   extra_rules      "/api.github.com/ -c tcp:443"
	list   address          /dns11.quad9.net/149.112.112.11
	list   cname            /tpa-hcdn.iqiyi.com/data.video.iqiyi.com
	list   cname            /test1.jsdelivr.net/fastly.jsdelivr.net
	list   cname            /pool.ntp.org/ntp.tencent.com
	list   cname            /stdtime.gov.hk/ntp.tencent.com
	list   cname            /time.smg.gov.mo/ntp.tencent.com
	list   cname            /ntp.nasa.gov/ntp.tencent.com
	list   cname            /time.nist.gov/ntp.tencent.com
	list   cname            /time-a.nist.gov/ntp.tencent.com
	list   cname            /time-b.nist.gov/ntp.tencent.com
	list   cname            /time-nw.nist.gov/ntp.tencent.com
	list   cname            /clock.via.net/ntp.tencent.com
	list   cname            /time.apple.com/ntp.tencent.com
	list   cname            /time-ios.apple.com/ntp.tencent.com
	list   cname            /time-macos.apple.com/ntp.tencent.com
	list   cname            /time.asia.apple.com/ntp.tencent.com
	list   cname            /time.google.com/ntp.tencent.com
	list   cname            /time.windows.com/ntp.tencent.com
	list   cname            /time.cloudflare.com/ntp.tencent.com
	list   cname            /time.windows.com/ntp.tencent.com
	list   cname            /ntp.ubuntu.com/ntp.tencent.com
	list   bootstrap        1.2.4.8
	list   bootstrap        210.2.4.8
	list   bootstrap        223.5.5.5
	list   bootstrap        223.6.6.6
	list   bootstrap        119.29.29.29
	list   bootstrap        120.53.80.136
	list   bootstrap        175.24.219.66
#	list   bootstrap        114.114.115.115
	list   server_tls       8.8.8.8@dns.google
	list   server_tls       8.8.4.4@dns.google
	list   server_tls       1.0.0.1@cloudflare-dns.com
#	list   server_tls       1.1.1.1@cloudflare-dns.com
	list   server_tls       162.159.36.1@cloudflare-dns.com
#	list   server_tls       162.159.46.1@cloudflare-dns.com
#	list   server_tls       9.9.9.11@dns11.quad9.net
	list   server_tls       149.112.112.112@dns.quad9.net
	list   server_tls       185.222.222.222@dns.sb
#	list   server_tls       dns.rubyfish.cn:853
#	list   server_https     https://dns.nextdns.io
#	list   server_https     https://odvr.nic.cz/doh
#	list   server_https     https://dns.google/dns-query
#	list   server_https     https://doh.dns.sb/dns-query
#	list   server_https     https://doh.apad.pro/cdn-query
	list   server_https     https://dns11.quad9.net/dns-query
	list   server_https     https://dns11.quad9.net:5053/dns-query
#	list   server_https     https://doh.cleanbrowsing.org/doh/security-filter
	list   server_https     https://doh.opendns.com/dns-query
#	list   server_https     https://doh.xfinity.com/dns-query
#	list   server_https     https://dns.adguard.com/dns-query
#	list   server_https     https://doh.securedns.eu/dns-query
	list   server_https     https://cloudflare-dns.com/dns-query
	list   server_https     https://mozilla.cloudflare-dns.com/dns-query
	list   server_https     https://1.15.50.48/verse
#	list   server_https     https://106.52.218.142/verse
