
config smartdns
	option enable           1
	option enable_cn        0
	option enable_cdn_cn    0
	option port             7700
	option ipv6             no
	option prefetch         yes
	list   ignore_ip        113.197.104.0/23
	list   ignore_ip        203.208.32.0/19
	list   bootstrap        223.6.6.6
	list   bootstrap        119.29.29.29
	list   bootstrap        120.53.80.136
	list   bootstrap        175.24.219.66
#	list   bootstrap        114.114.115.115
#	list   server_tls       8.8.8.8@dns.google
	list   server_tls       8.8.4.4@dns.google
	list   server_tls       1.0.0.1@cloudflare-dns.com
#	list   server_tls       1.1.1.1@cloudflare-dns.com
	list   server_tls       162.159.36.1@cloudflare-dns.com
#	list   server_tls       162.159.46.1@cloudflare-dns.com
#	list   server_tls       9.9.9.11@dns11.quad9.net
#	list   server_tls       149.112.112.112@dns.quad9.net
	list   server_tls       185.222.222.222@dns.sb
#	list   server_https     https://dns.nextdns.io
	list   server_https     https://odvr.nic.cz/doh
#	list   server_https     https://dns.google/dns-query
#	list   server_https     https://doh.dns.sb/dns-query
	list   server_https     https://i.233py.com/dns-query
	list   server_https     https://dns11.quad9.net/dns-query
	list   server_https     https://dns11.quad9.net:5053/dns-query
	list   server_https     https://doh.opendns.com/dns-query
	list   server_https     https://doh.xfinity.com/dns-query
#	list   server_https     https://dns.adguard.com/dns-query
#	list   server_https     https://doh.securedns.eu/dns-query
	list   server_https     https://cloudflare-dns.com/dns-query
#	list   server_https     https://mozilla.cloudflare-dns.com/dns-query
#	list   server_https     https://dns.tuna.tsinghua.edu.cn:8443/dns-query
