
config smartdns
	option enable           1
	option port             7700
	option ipv6             no
	option prefetch         yes
	list   blacklist_ip     203.208.32.0/19
	list   server_tls       1.0.0.1
	list   server_tls       1.1.1.1
	list   server_tls       8.8.8.8
	list   server_tls       8.8.4.4
#	list   server_tls       9.9.9.9
#	list   server_tls       45.90.30.0
	list   server_tls       119.29.107.85
#	list   server_tls       176.103.130.131
	list   server_tls       185.222.222.222
	list   server_https     https://dns.google/dns-query
	list   server_https     https://dns.twnic.tw/dns-query
#	list   server_https     https://dns9.quad9.net/dns-quer
	list   server_https     https://dns.adguard.com/dns-query
#	list   server_https     https://doh.securedns.eu/dns-query
	list   server_https     https://cloudflare-dns.com/dns-query
	list   server_https     https://sdns.233py.com/dns-query
#	list   server_https     https://ndns.233py.com/dns-query
#	list   server_https     https://edns.233py.com/dns-query
#	list   server_https     https://wdns.233py.com/dns-query
	list   server_https     https://hk-dns.233py.com/dns-query
	list   server_https     https://us-dns.233py.com/dns-query
