
config dns-forwarder
	option enable '1'
	option listen_addr '0.0.0.0'
	option listen_port '1153'
	option dns_servers '8.8.4.4'

config dns-forwarder
	option enable '1'
	option listen_addr '0.0.0.0'
	option listen_port '1253'
	option dns_servers '168.95.1.1'

config dns-forwarder
	option enable '1'
	option listen_addr '0.0.0.0'
	option listen_port '1353'
	option dns_servers '202.14.67.4'

config dns-forwarder
	option enable '1'
	option listen_addr '0.0.0.0'
	option listen_port '1453'
	option dns_servers '103.250.55.195'
